
.nav-link{
    color: black;
    font-weight: bold;
    text-decoration: none;
    &:hover{
        color: #117AC9;
        text-decoration: none;
    }
}
.cs_btn{
    border: 2px solid #117AC9;
    &:hover{
        background-color: #117AC9;
        color: #fff !important;
    }
}
.form-label{
    font-size: 1.3rem;
    color: #117AC9;
}
.tab-pane{
    h3{
        color: #117AC9;
    }
    p{
        font-size: 1.3rem;
        .fa-regular{
            padding: 0.3rem 0.5rem;
            color: #117AC9;
            border-radius: 10px;
            &:hover{
                background-color: #117AC9;
                color: white;
            }
        }
    }

}
footer{
    h5{
        color: #fff;
    }
    ul{
        list-style: none;
        padding-left: 0 !important;
        a{
            color: rgba(255, 255, 255, 0.75);
            text-decoration: underline;
            &:hover{
                color: #fff;
            }
        }
    }
    .col-3{
        .fa-brands{
            color: rgba(255, 255, 255, 0.75);
            font-size: 1.3rem;
            margin-right: 1rem;
            &:hover{
                color: #fff;
            }
        }
        select{
            width: 100%;
            background-color: #343a40;
            color: rgba(255, 255, 255, 0.75);
            padding: 0.5rem;
            border-radius: 10px;
            font-size: 1rem;
        }
    }
}